.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin: 0 auto;
  margin-top: 60px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "🌙";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #008cba;
}

input:focus + .slider {
  box-shadow: 0 0 1px #008cba;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
  content: "";
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container .credits {
  text-align: center;
}
.App {
  border: solid #adbac7;
  max-width: 500px;
  border-radius: 0.5em;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}
.App .SearchEngine {
  text-align: center;
}
.App h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: #008cba;
}
.App canvas {
  display: block;
  margin: 0 auto;
}
.App .description ul {
  list-style: none;
  text-align: center;
  padding-left: 0px;
}
.App div .temperatureData ul {
  text-align: center;
  padding-left: 0;
}
.App .temperatureData ul li {
  height: 30px;
  list-style: none;
}
.App div .WeatherTemperature {
  text-align: center;
}
.App div .HumWinData {
  text-align: center;
}
.App div a {
  color: #edb554;
  text-decoration: none;
}
.App .credits {
  text-align: center;
  font-size: 12px;
}
.container .credits {
  font-size: 12px;
  color: #adbac7;
}

.App div .button {
  background: var(--theme-button-background);
  color: var(--theme-button-text);
  border: solid #adbac7;
  border-radius: 0.3em;
}
.App div .button:hover {
  background-color: #adbac7;
  color: #2d333b;
}
.App div .searching {
  border-radius: 0.3em;
}

.App div .WeatherTemperature {
  color: #edb554;
  font-weight: bold;
  font-size: 25px;
}
