.App {
  text-align: center;
  border: solid black;
  max-width: 500px;
  border-radius: 1em;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

.App ul {
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

.App li img {
  vertical-align: middle;
}
.App .footer {
  text-decoration: underline;
  color: blue;
}
.App .credits {
  text-align: center;
}
